/****** ------------------------------------------------------------------------------
****** AFFICHAGE D'UN SUJET --------------------------------------------------------- ******/

/* PARTICIPANTS DU SUJET ---*/

/* Conteneur de la liste des participants au sujet */
.poster-list {
display: flex;
align-items: center;
justify-content: center;
margin-top: -10px;
margin-bottom: var(--spacing);
}

/* Avatar du participant*/
.poster {
background: var(--poster-avatar);
height: 30px;
width: 30px;
border-radius: 100%;
margin-left: -8px;
border: 2px solid var(--neutralDark);
background-size: cover;
background-position: center;
}

/* Lien de renvoi vers son profil */
.poster a {
display: block;
height: 100%;
}

/* Nombre de participants */
.poster-count {
margin-left: 8px;
}

.poster-more-list {
display: none;
}

.poster-more-list {
z-index: 999;
position: relative;
padding: 0 20px;
background: var(--white);
font-size: var(--little-size);
}

.poster-more {
display: grid;
place-items: center;
position: relative;
}

.poster-more:hover .poster-more-list {
display: block;
position: absolute;
top: 29px;
width: 150px;
background: var(--neutralDarker);
padding: 10px;
border-radius: 5px;
}
.poster.poster-more span { font-size: var(--small-size); color: var(--white); }

/*** ------------------------------- ***/
/*** SUJET ------------------------- ***/

.post_row {
position: relative;
display: grid;
grid-template-columns: 240px 1fr;
background: var(--neutral);
border-radius: var(--radius);
margin-bottom: var(--spacing);
padding-bottom: var(--spacing);
backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px);
}

.post_avatar {
    grid-row: 1;
    grid-column: 1;
    position: sticky;
    top: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    margin-left: 8px;
    width: 225px;
    height: 430px;
    margin-top: var(--spacing);
}

.post_avatar a {
  border: none;
  grid-row: 2;
  grid-column: 1;
  align-self: center;
}

.post_avatar img {
    width: 200px;
    border-radius: var(--radius);
    background: var(--neutralDarker);
    padding: 1px;
}

/*contour avatar event*/
.post_avatar.yule::before { grid-row: 2; grid-column: 1; position: relative; content: ""; display: block; width: 225px; height: 362px; background: url(https://www.aht.li/3886015/cadre-yule.png) no-repeat; background-size: 100% auto; margin: 18px -4px 0 0; }
.post_avatar.yule::after { grid-row: 2; grid-column: 1; justify-self: start; align-self: start; margin: 1px 0 0 -25px; content: ""; background: url(https://www.aht.li/3886020/cadre-yule1.gif) no-repeat; display: block; width: 95px; height: 95px; background-size: 100% auto; }

.profil_contact { width: 200px; padding: 5px 0 3px; background: var(--neutralDark); border-radius: var(--radius); text-align: center; }
.profil_contact img {width: 20px; opacity: 0}

.profil_contact span {margin: 0 7px}

.post_profile {
grid-row: 1;
grid-column: 1 / span 2;
display: grid;
grid-template-columns: 240px 1fr;
padding-bottom: var(--spacing);
height: 100%;
}

.post_profile::before {
content: "";
grid-row: 1;
grid-column: 1 / span 2;
display: block;
width: 100%;
height: 160px;
background: var(--neutralDark);
border-radius: var(--radius) var(--radius) 0 0;
border-bottom: 1px solid var(--neutral);
}

.post_infos {
grid-row: 1;
grid-column: 2;
height: 100px;
margin: var(--spacing) var(--spacing) 0 0;
position: relative;
}

.post_pseudo {
font-weight: 400;
font-family: var(--special-font);
font-size: var(--title-size);
text-transform: uppercase;
    line-height: 100%;
}

.post_message {
grid-row: 1;
grid-column: 2;
margin: 160px 0 10px 0;
border-radius: var(--radius);
}

.post_message > div:not(.post_details) {
padding-right: var(--spacing);
}

.post_details {
width: fit-content;
padding: 5px;
display: flex;
align-items: center;
gap: 10px;
margin: 0 0 10px auto;
border-radius: var(--radius);
}

.post_date {
display: flex;
gap: 5px;
align-items: center;
}

.post_date > a {
font-size: var(--little-size);
}

.signature_div { text-align: center; margin-top: -10px; padding: 0 var(--spacing) var(--spacing) 0 }

/* BOUTONS D'EDITION DU MESSAGE --- */
/* Conteneur boutons d'édition */
.profile-icons {
display: flex;
align-items: center;
gap: 10px;
}

/*UN SEUL bouton d'édition */

.profile-icons span {
background: var(--co-gradient);
display: flex;
justify-content: center;
align-items: center;
width: 18px;
height: 18px;
border-radius: 50%;
font-size: 9px;
color: white;
transition: all .5s;
}

/* BOUTON COMPTE RP */
.fa_reputation { display: flex; position: absolute; bottom: -59px; left: -20px; }
.fa_reputation>a {border: none !important}
.fa_reputation:has(.fa_positive:not(.fa_positive[title="+0 rp"])) .fa_vote.fa_plus,
.fa_reputation:has(.fa_positive:not(.fa_positive[title="+0 rp"])) .fa_voted { display: none; }
.rp_button,
.fa_positive:not(.fa_positive[title="+0 rp"])::before { display: block; width: 70px; height: 18px; text-align: center; padding: 0 5px; border-radius: 0 0 var(--xs-radius) 0; font-size: var(--little-size); color: var(--textColor)}
.rp_button {background: var(--base-1); letter-spacing: 1px}
.fa_positive[title="+1 rp"]::before { content: "rp compté"; display: block; background: var(--co-2grad); color: white !important}
.fa_positive:not(.fa_positive[title="+0 rp"], .fa_positive[title="+1 rp"])::before { content: "+ d'une fois !"; display: block; background: var(--co-gradient); color: white}
.fa_count { font-size: 0; }

/* BOUTON LIKE --- */
/* Conteneur du bouton like */
.fa_like_list:not(:empty), .fa_dislike_list:not(:empty) { background: var(--neutral); margin: 20px 100px -10px 0; padding: 6px 10px; border-radius: var(--radius); font-size: var(--little-size); text-transform: lowercase; }
.fa_like_div {grid-column: 2}
.fa_like_div p {margin: 0}
.fa_like_tooltip {display: none; position: absolute; background: var(--co-gradient); border-radius: var(--xs-radius); z-index: 2}
.fa_like_others { position: relative; background: none; color: var(--contrast); font-weight: 600; border-bottom: 1px dotted; }
.fa_like_others:hover .fa_like_tooltip {display: inline-block}
.fa_like_tooltip a {white-space: nowrap}


.like_button {
position: absolute;
right: 5px;
bottom: 5px;
cursor: pointer;
display: flex;
gap: 5px;
}

.like_button button img {
width: 30px;
height: 30px;
}

/* Bouton like */
.rep-button,
.rep-button:active,
.rep-button:focus {
display: flex;
min-width: 36px;
background: transparent;
color: var(--textColor);
border: none;
padding: 0;
border-radius: 5px;
font-weight: 600;
}

/*Bouton au survol*/
.rep-button:hover {
background: var(--var(--contrastLighter));
}

/* Texte "j'aime" */
button.rep-button .like_text {
}

/*compteur de like*/
button.rep-button .rep-nb {
padding: 0 3px;
background: var(--neutral);
border-radius: 3px;
}

/* Lien "@" de mention */
a.fa-mention {
}

/* Mention "en ligne" */
.online {
font-size: 0;
font-style: italic;
}

.online::before {
content: "est en ligne";
font-size: var(--little-size);
line-height: 180%;
}

.online:empty {
display: none;
}

/*** ------------------------------- ***/
/*** ÉDITEUR DE TEXTE ------------ ***/

/*suppression de l'image-lien \"aller à la page suivante\" */
.page-topic span a:last-child,
.pag-img {
display: none;
}

div#quickreply_content .h3 + br {
	display: none;
}

.quickreply .button2 {
    background: var(--co-gradient);
    color: white;
    margin: 0 10px;
    padding: 10px 20px !important;
    text-transform: uppercase;
    font-size: var(--little-size);
    letter-spacing: 1px;
    transition: .5s color;
}

.quickreply .button2:hover {
    color: white;
}

/* Barre d'outils de l'éditeur de texte*/
.sceditor-toolbar {
	background: var(--neutralDarker) !important;
	margin: 0 !important;
	padding: 7px 0 !important;
	border-radius: var(--radius) var(--radius) 0 0 !important;
	border-bottom: 1px solid var(--white) !important;
	text-align: center;
}

/* Conteneur de la zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
	border-radius: 0 0 var(--radius) var(--radius);
	min-height: 250px !important;
	background-color: var(--neutralDark) !important;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	width: 100% !important;
	margin: 0 !important;
	padding: 5px !important;
	min-height: 300px !important;
	line-height: 175%;
	font-size: var(--normal-size) !important;
}

/*Boîte Smiley*/
body#sce_smilies_body {
	background: transparent !important;
}

div.sceditor-container,
body div.sceditor-group,
a.sceditor-button:hover,
a.sceditor-button.hover {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;
	border-radius: var(--radius) !important;
}

#quickEmojInternal {
    width: 240px !important;
    height: 250px !important;
    min-height: auto !important;
    border-radius: var(--xs-radius);
    background: var(--neutralDarker);
}

#smileyContainer iframe {
    height: 581px;
    background: var(--neutralDarker);
    padding: var(--spacing);
    border-radius: var(--radius);
}

/* dropdown */
div.sceditor-dropdown {
	border: none !important;
	margin-top: 45px !important;
	background: var(--neutralDarker) !important;
	box-shadow: none !important;
	padding: 0 !important;
}

.editeur .h3 {
	display: none;
}

#quick_reply #textarea_content,
#message-box #textarea_content {
	background: var(--body-img) center;
	background-size: cover;
	border-radius: var(--radius) !important;
}

#quick_reply #textarea_content {
	overflow: inherit;
}

#message-box #textarea_content {
}

#message-box textarea {
	height: 500px !important;
}

/* compteur de mots */
div#compteur-mots {
	text-align: center;
	font-weight: 400;
	padding: 8px 0;
	text-transform: uppercase;
	font-size: var(--xs-size);
	letter-spacing: 1px;
}

#preview .inner .postbody {
	margin: var(--spacing) !important;
}

div.sceditor-dropdown a,
div.sceditor-dropdown a:link,
div.sceditor-dropdown label {
	color: var(--textColor) !important;
}

#sceditor_smilies {
	color: gray !important;
	outline: none !important;
}

#smilies_categ select {
    width: 100%;
    background: transparent;
    border: none;
    padding-bottom: 5px;
    color: gray;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border-bottom: 1px solid;
}

.sceditor-dropdown a:hover {
	background: var(--co-1) !important;
}

.sceditor-mention-user {
	background: var(--neutralDark) !important;
	border-color: var(--neutralDark) !important;
}

.sceditor-mention-user:hover {
	background: var(--neutralDark) !important;
	color: var(--textColor) !important;
}

.sceditor-mention-user img {
	border: none !important;
	margin: 0 10px 0 -3px !important;
}

div.sceditor-dropdown input,
div.sceditor-dropdown textarea {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	width: 100%;
}

div.sceditor-dropdown .button {
	background: var(--co-1) !important;
	color: white !important;
	border: none !important;
	font-weight: 600 !important;
}

div.sceditor-dropdown .button:hover {
	color: var(--co-1) !important;
	background: var(--neutralDark) !important;
}

/* icone menu edition */
.sceditor-toolbar .sceditor-button {
	text-indent: 0;
	padding: 1px !important;
	width: 32px !important;
	height: 32px !important;
}

.sceditor-toolbar .sceditor-button div {
	font-family: FontAwesome;
	font-weight: normal;
	line-height: 30px;
	width: 100%;
	height: 100%;
	background: var(--co-gradient) !important;
	-webkit-background-clip: text !important;
    background-clip: text !important;
	-webkit-text-fill-color: transparent;
	font-size: 0;
}

.sceditor-toolbar .sceditor-button div::before {
	font-size: var(--normal-size) !important;
}

/* bold */
.sceditor-button-bold div:before {
	content: '\f032';
}

/* italic */
.sceditor-button-italic div:before {
	content: '\f033';
}

/* underline */
.sceditor-button-underline div:before {
	content: '\f0cd';
}

/* strike */
.sceditor-button-strike div:before {
	content: '\f0cc';
}

/* text align left */
.sceditor-button-left div:before {
	content: '\f036';
}

/* text align center */
.sceditor-button-center div:before {
	content: '\f037';
}

/* text align right */
.sceditor-button-right div:before {
	content: '\f038';
}

/* text align justify */
.sceditor-button-justify div:before {
	content: '\f039';
}

/* bullet list */
.sceditor-button-bulletlist div:before {
	content: '\f0ca';
}

/* ordered list */
.sceditor-button-orderedlist div:before {
	content: '\f0cb';
}

/* horizontal rule */
.sceditor-button-horizontalrule div:before {
	content: '\f2d1';
}

/* quote */
.sceditor-button-quote div:before {
	content: '\f10d';
}

/* code */
.sceditor-button-code div:before {
	content: '\f121';
}

/* spoiler */
.sceditor-button-faspoiler div:before {
	content: '\f066';
}

/* hide */
.sceditor-button-fahide div:before {
	content: '\f070';
}

/* table */
.sceditor-button-table div:before {
	content: '\f0ce';
}

/* host an image */
.sceditor-button-servimg div:before {
	content: '\f0ee';
}

/* insert an image */
.sceditor-button-image div:before {
	content: '\f03e';
}

/* insert a link */
.sceditor-button-link div:before {
	content: '\f0c1';
}

/* embed a post */
.sceditor-button-embed div:before {
	content: '\f019';
}

/* youtube */
.sceditor-button-youtube div:before {
	content: '\f16a';
}

/* dailymotion */
.sceditor-button-dailymotion div:before {
	content: '\f008';
}

/* header */
.sceditor-button-headers div:before {
	content: '\f1dc';
}

/* flash */
.sceditor-button-flash div:before {
	content: '\f0e7';
}

/* font size */
.sceditor-button-size div:before {
	content: '\f034';
}

/* font color */
.sceditor-button-color div:before {
	content: '\f1fb';
}

/* font family */
.sceditor-button-font div:before {
	content: '\f031';
}

/* remove formatting */
.sceditor-button-removeformat div:before {
	content: '\f12d';
}

/* mention a user */
.sceditor-button-mention div:before {
	content: '\f1fa';
}

/* button more */
.sceditor-button-more div:before {
	content: '\f196';
}

/* sub script */
.sceditor-button-subscript div:before {
	content: '\f12c';
}

/* super script */
.sceditor-button-superscript div:before {
	content: '\f12b';
}

/* scroll horizontal */
.sceditor-button-fascroll div:before {
	content: '\f07e';
}

/* scroll vertical */
.sceditor-button-faupdown div:before {
	content: '\f07d';
}

/* WoW */
.sceditor-button-fawow div:before {
	content: '\f118';
}

/* random */
.sceditor-button-farand div:before {
	content: '\f074';
}

/* emoticon */
.sceditor-button-emoticon div:before {
	content: '\f5b8';
}

/* emoticon */
a.sceditor-button.sceditor-button-twemojifa {
    display: none !important;
}
.sceditor-button-twemoji div:before {
	content: '\f584';
}

/* date */
.sceditor-button-date div:before {
	content: '\f133';
}

/* time */
.sceditor-button-time div:before {
	content: '\f017';
}

/* paste text */
.sceditor-button-pastetext div:before {
	content: '\f0ea';
}

/* switch editor mode */
.wysiwygMode .sceditor-button-source div:before {
	content: '\f204';
}

.sourceMode .sceditor-button-source div:before {
	content: '\f205';
}

/* bouton sauvegarde */
#save_button div::before {
	content: '\f0c7';
	font-weight: bold;
}
#savec {
	position: relative;
}
.save-bloc {
	z-index: 999;
	padding: 5px;
	background: #efefef url(https://2img.net/i/fa/prosilver/bg_button.gif)
		repeat-x;
	display: none;
	top: 20px;
	left: 0px;
	position: absolute;
	white-space: nowrap;
}
.save-bloc select {
	background: var(--white);
	margin-bottom: 5px;
}
.save-bloc div {
	cursor: pointer;
	color: var(--textColor);
}
.save-bloc > div {
    overflow: auto;
    max-height: 300px;
    background: var(--white);
    padding: 10px !important;
    border-radius: var(--xs-radius);
}
#saves span {
	background: var(--co-gradient);
	text-transform: uppercase;
	font-size: var(--small-size);
	font-weight: 600;
	padding: 2px 5px;
	border-radius: var(--radius);
	color: white;
}

/*** ------------------------------- ***/
/*** AESTHETIC -------- ***/
/* Utilisé pour des titres de pages */
.pr_title, h1,
h1.page-title,
.panel:has(.fld_connexion) .h3::after,
.panel:has(a[href="/register"]) .h3::after {
width: fit-content;
margin: 10px auto;
font-size: var(--xl-size);
font-weight: 400;
text-transform: uppercase;
text-align: center;
font-family: var(--special-font);
line-height: 100%;
}
.panel:has(.fld_connexion) .h3::after {content: "Se connecter"; display: block; margin-top: 20px}
.panel:has(a[href="/register"]) .h3::after {content: "Oops,"; display: block; margin-top: 20px}

.pr_title strong {font-weight: 400}

.pr_title::before,
h1::before {
content: "\0027E1\0027E3\0000A0";
}
.pr_title::after,
h1::after {
content: '\0000A0\0027E2\0027E1';
}

h1>span.cp {
display: none;
}

.pr_title::before, .pr_title::after {color: var(--contrast)}

/* Utilisé pour des titres de sujets, blogs... */
h2,
.h2 {
margin: 0;
font-size: var(--large-size);
font-weight: 700;
}

/* Utilisé dans les profils ... */
.pr_ctnr {animation: 1s apparate forwards}
.pr_ctnr h4, .pr_ctnr h3 { margin: 0; display: inline-block; padding: 0px 3px; line-height: 150%; font-weight: 600; border-radius: var(--xs-radius); color: white; text-align: center; font-size: 9px; letter-spacing: 1px; text-transform: uppercase; }
.pr_ctnr h4 {background: var(--co-1);}
.pr_ctnr h3 {background: var(--co-2);}
.pr_ctnr h2 { background: var(--co-gradient); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-shadow: 0px 0px transparent; font-size: 9px; line-height: 150%; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; text-align: center}
.pr_ctnr h2::before { content: ""; display: block; margin: 2px 0; height: 1px; background: var(--co-gradient); }

/* Utilisé pour des titres de sous-sections, petit encadré, ...*/
h3,
.h3 {
color: var(--contrastLight);
padding-bottom: 10px;
margin: 0;
font-size: var(--medium-size);
font-weight: bold;
}

hr {
border: none;
background: var(--contrast);
height: 1px;
opacity: 0.1;
}

.sep { display: flex; justify-content: center; align-items: center; gap: var(--spacing); }
.sep::before, .sep::after { content: ""; display: block; width: 80px; height: 1px; background: var(--co-gradient); opacity: .4; }
.sep::after { transform: scaleX(-1); }

t1 {
display: block;
font-family: var(--special-font);
font-size: var(--xxl-size);
line-height: var(--xxl-size);
color: var(--contrast);
}
t2,
t2b,
.t2b,
t3,
.user_profile h2,
.post_userinfo h2 {
display: block;
font-family: var(--font-2);
text-transform: uppercase;
font-size: var(--title-size);
line-height: 130%;
color: var(--contrast);
}
t2b:not(.prez t2b),
.t2b:not(.prez .t2b) {
font-size: var(--little-size);
}
.prez t2b,
.prez .t2b {
font-size: var(--xl-size);
}
t3::before {
content: '\eca1';
font-family: 'cappuccicons';
margin-right: 10px;
}
t3 {
font-size: var(--medium-size);
color: var(--co-2);
letter-spacing: 1px;
background-color: var(--neutralDarker);
padding: 10px;
text-transform: uppercase;
font-weight: 600;
border-radius: 5px;
}
t4::before,
.user_profile h2::before,
.post_userinfo h2::before {
content: '\eca1';
font-family: var(--font-ic);
margin-right: 10px;
font-size: 13px;
color: var(--co-1);
}
t4,
.user_profile h2,
.post_userinfo h2 {
display: block;
font-size: var(--medium-size);
letter-spacing: 1px;
color: var(--contrast);
font-family: var(--font-2);
border-bottom: 1px solid var(--co-1);
margin-bottom: -15px;
padding: 2px;
}
t5 {
display: inline-block;
text-align: center;
font-family: var(--special-font);
font-size: var(--xl-size);
text-transform: uppercase;
}
t6 {
position: relative;
display: grid;
grid-template: 1fr/1fr;
justify-items: center;
align-items: center;
width: 100%;
height: 100%;
text-align: center;
font-family: var(--special-font);
font-size: var(--xxl-size);
font-weight: 400;
margin: 0 auto 30px;
}

t6::before {
transform: rotate(175deg);
}

t6::after {
transform: rotate(160deg);
}

t6::before,
t6::after {
content: '';
position: absolute;
display: block;
width: 30vw;
height: 12vw;
border: 1px solid white;
border-radius: 50%;
}

t6 span::before,
t6 span::after {
position: absolute;
content: '\eca0';
font-family: var(--font-ic);
font-size: var(--medium-size);
color: white;
}

t6 span::before {
left: 90px;
bottom: 4px;
}

t6 span::after {
top: 2px;
right: 100px;
}
.sub1 {
font-size: var(--small-size);
letter-spacing: 1px;
text-transform: lowercase;
color: var(--contrast);
line-height: var(--small-size);
}
.sub-2::before {
content: "";
display: block;
width: 100%;
height: 1px;
background: var(--co-gradient);
}
.sub-2 {
display: flex;
align-items: center;
gap: 10px;
text-align: right;
margin-bottom: -5px;
color: var(--co-2);
font-family: var(--font-2);
text-transform: uppercase;
font-size: var(--medium-size);
line-height: 112%;
}
.sub-2 > * {flex-shrink: 0}
.sub-2::after {
font-family: arial;
color: var(--co-1);
content: '\0027E2\0027E1';
}
.sub-2.rev {flex-direction: row-reverse}
.sub-3 {
text-align: center;
color: var(--contrast);
font-size: var(--little-size);
text-transform: uppercase;
letter-spacing: 8px;
}
.sub-3::after {
content: '';
display: block;
height: 1px;
background: var(--co-gradient);
margin-top: 5px;
}
.sub-4 { position: relative; font-size: var(--small-size); line-height: var(--inter-size); font-style: italic; border-top: 1px solid var(--white); border-bottom: 1px solid var(--white); margin: 0 30px; padding: 5px 0; }
.sub-4::before { content: '\00201C'; position: absolute; left: -35px; font-family: var(--special-font); font-size: var(--xxl-size); font-style: normal; color: var(--co-1); }
.sub-4::after { content: '\00201D'; position: absolute; right: -25px; bottom: -25px; font-family: var(--special-font); font-size: var(--xxl-size); line-height: 0; font-style: normal; color: var(--co-1); }

.tit, tit {color: var(--tit)} 
.chr, chr {color: var(--chr)}
.cop, cop {color: var(--cop)}
.iri, iri {color: var(--iri)}

tx {
display: inline-block;
color: var(--textColor);
font-size: var(--normal-size) !important;
font-family: var(--font);
text-transform: none;
}
little-tx {
display: inline-block;
color: var(--textColor);
font-size: var(--little-size) !important;
line-height: 130%;
font-family: var(--font);
text-transform: none;
}
small-tx {
display: inline-block;
color: var(--textColor);
font-size: var(--small-size) !important;
line-height: 100%;
font-family: var(--font);
text-transform: none;
}
ft {
font-size: var(--small-size);
font-style: italic;
text-transform: none;
}
lett {
font-size: var(--xl-size);
line-height: 115%;
font-family: var(--special-font);
color: var(--contrast);
float: left;
margin: 5px 25px 5px 0;
border-bottom: 2px dotted var(--co-2);
}
time{background:var(--neutralDarker);border-radius:var(--radius);padding:2px 5px;color:var(--contrast);font-size:var(--small-size);letter-spacing:1px;text-transform:uppercase}
strike {
text-decoration-color: var(--co-1);
}
strike2 {
text-decoration: line-through;
text-decoration-color: var(--co-2);
}
i,
em {
color: var(--co-1);
}
i2,
i3,
i4 {
font-style: italic;
color: var(--co-2);
}
i4 {
color: var(--contrast);
}
i,
i2,
i3,
i4 {
font-family: var(--font-2);
font-weight: 300;
}
blur {filter: blur(1px); transition: .5s filter}
blur:hover {filter: blur(0)} 
b {
color: var(--co-2);
}
ls {
font-family: courier new;
letter-spacing: 4px;
}
sp:not(sp:hover), sp:not(sp:hover)>* {
transition: all 0.5s;
background: var(--neutralDarker);
color: transparent !important;
text-decoration: none !important;
border-radius: 5px;
}
sp:hover {
background: none;
color: var(--textColor);
}
bb1,
bb2,
bb3,
bb4,
bb5,
bb6 {
font-weight: 600;
}
ba1,
ba2,
ba3,
ba4 {
font-family: var(--font-2);
font-style: normal;
}
bb4,
bb5,
bb6,
bb7 {
font-family: var(--font-2);
}
bu {
font-family: var(--font-2);
border-bottom: 2px double var(--co-1);
text-transform: uppercase;
font-size: var(--little-size);
letter-spacing: -0.5px;
color: var(--contrast);
}
b1,
b2,
b3,
b4, b5, b6 {
font-weight: 600;
color: var(--co-1);
text-transform: uppercase;
font-size: var(--little-size);
letter-spacing: 1px;
}
b1::before, b2::before, b3::before, b4::before {content: '\0027E1'; margin-right: 10px}
b1::after, b2::after, b3::after, b4::after {content: ' :'}

b5>span, b6>span { display: inline-block; width: 15px; }

c1,
.c1,
bb1,
bb4,
ba1, b5 {
color: var(--co-1);
}
c2,
.c2,
b2,
bb2,
bb5,
ba2, b6 {
color: var(--co-2);
}
c3,
.c3,
bb3,
bb6,
b3,
i3,
ba3,
t5,
t6 span span,
.forumtitle:not(.forumtitle:has(t6), #c3 .forumtitle, #c6 .forumtitle, .forumtitle:has(span)),
.tabs ul li a span:nth-child(2),
h1,
.panel:has(.fld_connexion) .h3::after {
background: var(--co-gradient);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: 0px 0px transparent;
}
bb7,
c4, .c4,
b4,
ba4 {
color: var(--contrast);
}
bg1,
bg2,
bg3,
bg4 {
padding: 2px 5px;
font-weight: 600;
border-radius: var(--radius);
color: white;
text-align: center;
font-size: 9px;
letter-spacing: 1px;
text-transform: uppercase;
}
bg1 {
background: var(--co-1);
}
bg2 {
background: var(--co-2);
}
bg3 {
background: var(--co-gradient);
}
bg4 {
background: var(--white);
}
bc1,
bc2,
bc3 {
border: 1px solid var(--co-1);
border-radius: var(--radius);
margin: 1px;
padding: 0 5px;
font-weight: 600;
font-size: 9px;
letter-spacing: 1px;
text-transform: uppercase;
color: var(--contrast);
}
bc2 {
border: 1px solid var(--co-2);
}
bc3 {
background: linear-gradient(var(--neutralDarker), var(--neutralDarker)) padding-box, linear-gradient(to right, var(--co-1), var(--co-2)) border-box;
border-radius: 50em;
border: 1px solid transparent;
}
u {
font-family: var(--font-2);
text-decoration: none;
border-bottom: 2px double var(--co-1);
letter-spacing: 1px;
}
u1,
u2 {
color: var(--contrast);
}
u1 {
box-shadow: inset 0 -6px 0 var(--co-1);
}
u2 {
box-shadow: inset 0 -6px 0 var(--co-2);
}
u3 {
background: linear-gradient(to right, var(--co-1), var(--co-2));
background-position: bottom;
background-size: 100% 1px;
background-repeat: no-repeat;
padding-bottom: 1px;
transition: all 0.5s;
}
u3:hover {
background-size: 100% 100%;
color: white;
}
min1, min2, min3, min4 {
display: inline-block;
line-height: 120%;
padding: 0 2px;
font-style: italic;
color: white;
text-transform: lowercase;
}
min1 {
background: var(--co-1);
}
min2 {
background: var(--co-2);
}
min3 {
background: var(--co-gradient);
}
min4 {
background: var(--white);
color: var(--contrast);
}
.bg-large {
display: flex;
justify-content: center;
align-items: center;
background: var(--co-gradient);
line-height: 100%;
font-weight: 600;
height: 19px;
color: white !important;
border-radius: var(--radius);
text-align: center;
text-transform: uppercase;
font-size: var(--little-size);
letter-spacing: 1px;
transition: all 0.5s;
}
.bg-large.selected {
background: var(--co-1);
}
a.bg-large:hover,
a.bg-large.ongSelected {
background: var(--co-1);
border-bottom: 1px dotted;
}
.desc {
overflow: hidden auto;
padding-right: 3px;
}
.grid-two {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}
.moodboard {
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: center;
gap: 20px;
}
.moodboard img {
width: 100%;
height: 130px;
object-fit: cover;
border-radius: 5px;
opacity: 0.8;
transition: 0.5s all;
}
.moodboard img:hover {
opacity: 1;
transform: scale(1.05);
}
.moodboard_four {
display: grid;
grid-template: repeat(2, 120px) / repeat(2, 120px);
gap: 10px;
justify-content: center;
}
.moodboard_four img {
width: 120px;
height: 120px;
object-fit: cover;
border-radius: var(--radius);
opacity: 0.8;
transition: 0.5s all;
}
.moodboard_four img:hover {
opacity: 1;
transform: scale(1.05);
}
list::before { content: '\0022B1'; position: absolute; left: -20px; color:var(--co-2)}
list {position: relative; display:block; flex-shrink: 0; margin-left: 40px; font-family: var(--font-2); font-size: var(--large-size); color: var(--co-1)}

.userGame table tbody {width: 100%}

.left-side {
float: left;
margin-right: 10px;
}

.right-side {
float: right;
margin-left: 10px;
}

.left-side, .right-side {
width: 100px;
height: 90px;
object-fit: cover;
border-radius: var(--radius);
padding: 10px;
border: 1px solid var(--co-2);
}
